
xcuserdata/

*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM


.build/

Carthage/Build/

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

## Playgrounds
timeline.xctimeline
playground.xcworkspace
.swiftpm
TradeDoublerDemo/.DS_Store
.DS_Store
